//Estilo do Botão
.button{
    max-width: 300px;
    height: 45px;
    border: 0;
    border-radius: 1rem;
    background-color:#FF3F4B;
    padding: 1rem;
    margin: 1rem;
    color: white;
    
 
//quando nosso botão estiver disabled(que recebe o loading) o nosso icone vai ficar girando
&[disabled]{
    // coloca um cursor disabilitado 
    cursor: not-allowed;
    // svg é o icone do spinner
    svg{
        animation: animate 2s infinite;
    }
}


 //Muda a cor do botão quando nós passamos o mouse por cima
    &:hover{
        transition: background-color 1s, color 1s, filter 1s;
        background-color: white;
        color: #FF3F4B;
        filter: brightness(1.08);
    }
}


// animação do icone de loading, da posição 0 até a 360(girar 360 graus)
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
