
// página scss feita para index.tsx da pasta input
// estilo do campo de texto
.inputArea{
    margin-bottom: 2rem;
    width: 200%;
    height: 70px;
    border: 0;
    border-radius: 1rem;
    background-color: var(--whitef);
    padding: 1rem;
}

// esse é o estilo do placeholder(dica do que se deve escrever no campo)
.input::placeholder{
    font-size: 25px;
    color: var(--grayA);
    font-family: 'Times New Roman', Times, serif;
}