.HeaderContainer{
  text-align: center;
  position: relative;
  width: 100%;
  img{
    width: 100%;
    height: 300px;
  }

}
.HeaderContent{

  position: absolute;
  top: 0;
  height: 10vh;
  width: 100%;
  img{
    width: 400px;
    height: 130px;
  }
  
  
}



